/* ตั้งค่ากระดาษ A4 landscape */
@page {
    size: A4 landscape; /* กระดาษขนาด A4 แนวนอน */
    margin: 0.5cm; /* ขอบกระดาษ 0.5cm */
}

/* ฟอนต์เล็กลง */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    font-size: 12px; /* ปรับขนาดฟอนต์ให้เล็กลง */
}

/* ตั้งค่า header */
.header {
    background-color: #2c3e50;
    padding: 10px;
    color: white;
    text-align: center;
    margin-bottom: 15px;
    font-size: 14px; /* ปรับขนาดฟอนต์ใน header */
}

.header .center {
    font-size: 16px; /* ปรับขนาดฟอนต์ในข้อความกลาง */
}

.print-button button {
    font-size: 12px; /* ปรับขนาดฟอนต์ในปุ่มพิมพ์ */
    padding: 8px 15px;
}

/* ตารางรายละเอียด */
table.details, table.details th, table.details td {
    border: 1px solid #000;
    border-collapse: collapse;
    font-size: 12px; /* ปรับขนาดฟอนต์ในตารางรายละเอียด */
}

table.details th {
    padding: 8px;
    text-align: left;
    background-color: #f8f8f8;
}

/* ตารางเงินเดือน */
table.salary {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 12px; /* ปรับขนาดฟอนต์ในตารางเงินเดือน */
}

table.salary th {
    padding: 8px;
    border-bottom: 1px solid #f2f2f2;
    text-align: left;
}

table.salary td {
    padding: 8px;
    border-bottom: none solid #f2f2f2;
    text-align: left;
}

/* ปรับให้พิมพ์ออกมาใน 1 หน้า */
@media print {
    body {
        font-size: 10px; /* ขนาดฟอนต์เล็กลงเพื่อให้ข้อมูลอยู่ในหน้ากระดาษ */
        background-color: white;
        margin: 0;
        padding: 0;
        
    }

    .header {
        background-color: white;
        color: black;
        font-size: 12px;
    }

    table.details, table.salary {
        width: 100%;
        border: 1px solid black;
        font-size: 10px; /* ปรับขนาดฟอนต์ให้เล็กลงสำหรับการพิมพ์ */
    }

    table.details td, table.salary td, table.salary th {
        border: 1px solid black;
        padding: 6px; /* ลดขนาด padding เพื่อให้พอดีกับหน้ากระดาษ */
    }

    table.salary th {
        background-color: #2980b9;
        color: white;
    }

        form {
            display: none;
        }

    
}
