<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/styles.css">

    <header class="header">
        <img src="static/img/THKB-01.png" alt="Logo2" class="logo">
        <h1>Hitachi Astemo Korat Brake System Ltd.</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('dashboard') }}">หน้าหลัก</a></li>
                <li><a href="{{ url_for('logout') }}">ออกจากระบบ</a></li>
            </ul>
        </nav>
    </header>
</head>